In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd
import json

In [2]:
train_df = pd.read_csv("./train_ver2.csv", low_memory=False)
test_df = pd.read_csv("./test_ver2.csv", low_memory=False)

In [3]:

# j_w=open('./es_en_column_map.json' ,"w")
# json.dump(column_map_dict, j_w,indent=2)
# j_w.close()

In [4]:
j_r=open('./es_en_column_map.json',"r")
column_map_dict=json.load(j_r)
j_r.close()
column_map_dict_swap = {v: k for k, v in column_map_dict.items()}

In [5]:
train_df.rename(columns=column_map_dict, inplace=True)
test_df.rename(columns=column_map_dict, inplace=True)

In [6]:
prods = train_df.columns[24:].tolist()

In [7]:
for col in prods:
    print(train_df[col].unique())

[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[ 0.  1. nan]
[ 0.  1. nan]
[0 1]

In [8]:
prods = train_df.columns[24:].tolist()
train_df[prods] = train_df[prods].fillna(0.0).astype(np.int8)
#no_product = train_df[prods].sum(axis=1) == 0
#train_df = train_df[~no_product]

In [9]:
for col in prods:
    print(train_df[col].unique())

[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]

In [10]:
#features = []
categorical_cols = ['employee_index', 'country', 'sex', 'new_customer_index', 'primary_index', 
                             'customer_type', 'customer_relation_type', 'residence_index', 'foreigner_index', 
                             'spouse_index', 'channel', 'deceased_index', 'addres_type', 'province_code', 
                             'province_name', 'activity_index', 'segmentation']

for col in categorical_cols:
    train_df[col], _ = train_df[col].factorize(na_sentinel=-99)
    test_df[col], _ = test_df[col].factorize(na_sentinel=-99)
#features += categorical_cols

In [11]:
train_df.dtypes

date                        object
customer_code                int64
employee_index               int64
country                      int64
sex                          int64
age                         object
first_holder_date           object
new_customer_index           int64
customer_seniority          object
primary_index                int64
primary_last_date           object
customer_type                int64
customer_relation_type       int64
residence_index              int64
foreigner_index              int64
spouse_index                 int64
channel                      int64
deceased_index               int64
addres_type                  int64
province_code                int64
province_name                int64
activity_index               int64
household_gross_income     float64
segmentation                 int64
saving_account                int8
guarantees                    int8
current_accounts              int8
derivada_account              int8
payroll_account               int8
junior_account                int8
mas_particular_account        int8
particular_account            int8
particular_plus_account       int8
short_term_deposit            int8
medium_term_deposit           int8
long_term_deposit             int8
e_account                     int8
funds                         int8
mortgage                      int8
pensions                      int8
loans                         int8
taxes                         int8
credit_card                   int8
securities                    int8
home_account                  int8
payroll                       int8
pensions_2                    int8
direct_debit                  int8
dtype: object

In [12]:
date_cols = ['date', 'first_holder_date', 'primary_last_date', ]

In [13]:
train_df['age'].unique()

array([' 35', ' 23', ' 22', ' 24', ' 65', ' 28', ' 25', ' 26', ' 53',
       ' 27', ' 32', ' 37', ' 31', ' 39', ' 63', ' 33', ' 55', ' 42',
       ' 58', ' 38', ' 50', ' 30', ' 45', ' 44', ' 36', ' 29', ' 60',
       ' 57', ' 67', ' 47', ' NA', ' 34', ' 48', ' 46', ' 54', ' 84',
       ' 15', ' 12', '  8', '  6', ' 83', ' 40', ' 77', ' 69', ' 52',
       ' 59', ' 43', ' 10', '  9', ' 49', ' 41', ' 51', ' 78', ' 16',
       ' 11', ' 73', ' 62', ' 66', ' 17', ' 68', ' 82', ' 95', ' 96',
       ' 56', ' 61', ' 79', ' 72', ' 14', ' 19', ' 13', ' 86', ' 64',
       ' 20', ' 89', ' 71', '  7', ' 70', ' 74', ' 21', ' 18', ' 75',
       '  4', ' 80', ' 81', '  5', ' 76', ' 92', ' 93', ' 85', ' 91',
       ' 87', ' 90', ' 94', ' 99', ' 98', ' 88', ' 97', '100', '101',
       '106', '103', '  3', '  2', '102', '104', '111', '107', '109',
       '105', '112', '115', '110', '116', '108', '113', '126', '117',
       '163', '127', '114', '164'], dtype=object)

In [14]:
test_df['age'].unique()

array([ 56,  36,  22,  51,  41,  33,  23,  43,  63,  62,  32,  58,  71,
        31,  30,  59,  45,  37,  39,  38,  46,  34,  35,  42,  29,  88,
        64,  48,  72,  47,  27,  24,  50,  49,  57,  67,  25,  28,  13,
        40,  53,  54,  26,  11,  21,  60,  44,  55,   7,  52,  66,  90,
        73,  78,  79,  61,  69,  12,   9,  65,  77,  83,  81,  10,   5,
        18,  17,  87,  70,  80,  75,  68,  74,  16,   4,  82,  91,  76,
        19,  15,   6,  97,  89,  85,  86,  14,  20,   8,  84,  95,  93,
       100,  96,  92,  98,  94, 105, 102, 101, 104, 103,  99,   3,   2,
       116, 106, 107, 109, 110, 117, 108, 113, 111, 112, 114, 164, 118,
       127])

In [15]:
train_df['age'].replace(' NA', np.nan, inplace=True)
train_df['age'].fillna(-99, inplace=True)
test_df['age'].replace(' NA', np.nan, inplace=True)
test_df['age'].fillna(-99, inplace=True)

In [16]:
train_df['customer_seniority'].unique()

array(['      6', '     35', '     34', '     NA', '     33', '     31',
       '     21', '     16', '     27', '      9', '     22', '     13',
       '     29', '      8', '     11', '     10', '     28', '     24',
       '      7', '     25', '     14', '     26', '     12', '     23',
       '      1', '     18', '      4', '      3', '     17', '     32',
       '     30', '     20', '     15', '     19', '    157', '     36',
       '      5', '     40', '     38', '     37', '     39', '      0',
       '      2', '     47', '     44', '     42', '     46', '     45',
       '     43', '     41', '     57', '     48', '     52', '     49',
       '     50', '     56', '     58', '     51', '     55', '     54',
       '     53', '     59', '     62', '     61', '     60', '     63',
       '    139', '    165', '    118', '    164', '    142', '     94',
       '    159', '    143', '    105', '    151', '    162', '    137',
       '    150', '    128', '    122', '    156', '    119', '    160',
       '     79', '     95', '    132', '    161', '     98', '    127',
       '     72', '    155', '    108', '    163', '    102', '    148',
       '    115', '    146', '    107', '     81', '    216', '    135',
       '     92', '    121', '    198', '    134', '     93', '    140',
       '    110', '    120', '    147', '    116', '     64', '     77',
       '     85', '     99', '     78', '    100', '    113', '    154',
       '    166', '    133', '    124', '    141', '     66', '    117',
       '     86', '    193', '     80', '    144', '     87', '    126',
       '    158', '    101', '    235', '     88', '    145', '    103',
       '    149', '    109', '    131', '     97', '     68', '     84',
       '    232', '    125', '    177', '    112', '     96', '     69',
       '    171', '    167', '    104', '     76', '     82', '    152',
       '     70', '    138', '    169', '     65', '    129', '    190',
       '    114', '    111', '    176', '    153', '     89', '    136',
       '     83', '    123', '    187', '    106', '    231', '    189',
       '    217', '    172', '    199', '    173', '    174', '    209',
       '    180', '    178', '     91', '    168', '    130', '    225',
       '     67', '     73', '    183', '     74', '    206', '     71',
       '    179', '    184', '    192', '     90', '    194', '    182',
       '    188', '    213', '    185', '    195', '    186', '    207',
       '    208', '     75', '    175', '    201', '    203', '    212',
       '    215', '    170', '    228', '    214', '    202', '    196',
       '    181', '    211', '    191', '    205', '    200', '    227',
       '    218', '    219', '    226', '    224', '    210', '    242',
       '    223', '    237', '    204', '    233', '    220', '    222',
       '    241', '    197', '    221', '    229', '    234', '    240',
       '    243', '    230', '    238', '    246', '    236', '    244',
       '    239', '    245', '-999999', '    247', '    248', '    249',
       '    250', '    251', '    252', '    253', '    254', '    255',
       '    256'], dtype=object)

In [17]:
test_df['customer_seniority'].unique()

array([    256,      34,      11,       5,      33,       4,      30,
            32,      15,      18,      25,      23,      16,      26,
            31,      13,      27,      29,      20,       8,       7,
            24,      14,       3,       1,      10,      28,      22,
            21,       2,      19,      17,      12,       9,       6,
            37,      35,      36,      38,     150,      41,      40,
            39,       0,      47,      48,      45,      42,      44,
            46,      49,      43,      51,      50,      52,      55,
            54,      53,      56,     186,     168,     128,     120,
           220,      75,     172,     103,     159,     145,     135,
           160,      93,     156,     157,     170,     148,     175,
           176,     167,     104,     123,     133,     147,     112,
            87,      99,     129,     171,     134,     144,     169,
            72,     149,     106,     166,     113,     184,     139,
           187,      62,     152,      81,     196,      78,     146,
           161,     174,      96,      70,     109,     155,     131,
           163,     143,      89,     158,     153,      73,      59,
            65,     177,      95,     124,     132,      68,     138,
           130,      98,      84,     122,      74,     141,     100,
           115,     164,     204,      64,     136,     119,      88,
           121,     117,     118,     127,     125,     165,      67,
            97,      58,     111,     173,      77,     162,      63,
           202,      94,     137,     110,     194,     154,     102,
           199,     116,     140,     114,     105,     244,     195,
           151,      86,      69,      76,     126,      90,     107,
           142,      82,     108,      92,      79,      91,     233,
           101,      83,     215,     217,     248,      80,     207,
           188,      60,      66,     179,     185,     224,      57,
           190,      61,     180,     206,     212,     197,      71,
           246,     221,     183,     210,     219,     198,      85,
           229,     231,     181,     213,     200,     228,     237,
           192,     205,     230,     178,     209,     191,     189,
           182,     218,     203,     236,     227,     201,     243,
           216,     211,     241,     226,     193,     242,     214,
           223,     235,     240,     238,     225,     234,     253,
           252,     208,     222,     232,     249,     239,     247,
           257,     251,     245,     254,     255,     250, -999999])

In [18]:
train_df['customer_seniority'].replace('     NA', np.nan, inplace=True)
train_df['customer_seniority'].replace(-999999, np.nan, inplace=True)
train_df['customer_seniority'].fillna(-99, inplace=True)
test_df['customer_seniority'].replace('     NA', np.nan, inplace=True)
train_df['customer_seniority'].replace(-999999, np.nan, inplace=True)
test_df['customer_seniority'].fillna(-99, inplace=True)

In [19]:
train_df['customer_seniority'].unique()

array(['      6', '     35', '     34', -99, '     33', '     31',
       '     21', '     16', '     27', '      9', '     22', '     13',
       '     29', '      8', '     11', '     10', '     28', '     24',
       '      7', '     25', '     14', '     26', '     12', '     23',
       '      1', '     18', '      4', '      3', '     17', '     32',
       '     30', '     20', '     15', '     19', '    157', '     36',
       '      5', '     40', '     38', '     37', '     39', '      0',
       '      2', '     47', '     44', '     42', '     46', '     45',
       '     43', '     41', '     57', '     48', '     52', '     49',
       '     50', '     56', '     58', '     51', '     55', '     54',
       '     53', '     59', '     62', '     61', '     60', '     63',
       '    139', '    165', '    118', '    164', '    142', '     94',
       '    159', '    143', '    105', '    151', '    162', '    137',
       '    150', '    128', '    122', '    156', '    119', '    160',
       '     79', '     95', '    132', '    161', '     98', '    127',
       '     72', '    155', '    108', '    163', '    102', '    148',
       '    115', '    146', '    107', '     81', '    216', '    135',
       '     92', '    121', '    198', '    134', '     93', '    140',
       '    110', '    120', '    147', '    116', '     64', '     77',
       '     85', '     99', '     78', '    100', '    113', '    154',
       '    166', '    133', '    124', '    141', '     66', '    117',
       '     86', '    193', '     80', '    144', '     87', '    126',
       '    158', '    101', '    235', '     88', '    145', '    103',
       '    149', '    109', '    131', '     97', '     68', '     84',
       '    232', '    125', '    177', '    112', '     96', '     69',
       '    171', '    167', '    104', '     76', '     82', '    152',
       '     70', '    138', '    169', '     65', '    129', '    190',
       '    114', '    111', '    176', '    153', '     89', '    136',
       '     83', '    123', '    187', '    106', '    231', '    189',
       '    217', '    172', '    199', '    173', '    174', '    209',
       '    180', '    178', '     91', '    168', '    130', '    225',
       '     67', '     73', '    183', '     74', '    206', '     71',
       '    179', '    184', '    192', '     90', '    194', '    182',
       '    188', '    213', '    185', '    195', '    186', '    207',
       '    208', '     75', '    175', '    201', '    203', '    212',
       '    215', '    170', '    228', '    214', '    202', '    196',
       '    181', '    211', '    191', '    205', '    200', '    227',
       '    218', '    219', '    226', '    224', '    210', '    242',
       '    223', '    237', '    204', '    233', '    220', '    222',
       '    241', '    197', '    221', '    229', '    234', '    240',
       '    243', '    230', '    238', '    246', '    236', '    244',
       '    239', '    245', '-999999', '    247', '    248', '    249',
       '    250', '    251', '    252', '    253', '    254', '    255',
       '    256'], dtype=object)

In [20]:
test_df['customer_seniority'].unique()

array([    256,      34,      11,       5,      33,       4,      30,
            32,      15,      18,      25,      23,      16,      26,
            31,      13,      27,      29,      20,       8,       7,
            24,      14,       3,       1,      10,      28,      22,
            21,       2,      19,      17,      12,       9,       6,
            37,      35,      36,      38,     150,      41,      40,
            39,       0,      47,      48,      45,      42,      44,
            46,      49,      43,      51,      50,      52,      55,
            54,      53,      56,     186,     168,     128,     120,
           220,      75,     172,     103,     159,     145,     135,
           160,      93,     156,     157,     170,     148,     175,
           176,     167,     104,     123,     133,     147,     112,
            87,      99,     129,     171,     134,     144,     169,
            72,     149,     106,     166,     113,     184,     139,
           187,      62,     152,      81,     196,      78,     146,
           161,     174,      96,      70,     109,     155,     131,
           163,     143,      89,     158,     153,      73,      59,
            65,     177,      95,     124,     132,      68,     138,
           130,      98,      84,     122,      74,     141,     100,
           115,     164,     204,      64,     136,     119,      88,
           121,     117,     118,     127,     125,     165,      67,
            97,      58,     111,     173,      77,     162,      63,
           202,      94,     137,     110,     194,     154,     102,
           199,     116,     140,     114,     105,     244,     195,
           151,      86,      69,      76,     126,      90,     107,
           142,      82,     108,      92,      79,      91,     233,
           101,      83,     215,     217,     248,      80,     207,
           188,      60,      66,     179,     185,     224,      57,
           190,      61,     180,     206,     212,     197,      71,
           246,     221,     183,     210,     219,     198,      85,
           229,     231,     181,     213,     200,     228,     237,
           192,     205,     230,     178,     209,     191,     189,
           182,     218,     203,     236,     227,     201,     243,
           216,     211,     241,     226,     193,     242,     214,
           223,     235,     240,     238,     225,     234,     253,
           252,     208,     222,     232,     249,     239,     247,
           257,     251,     245,     254,     255,     250, -999999])

In [21]:
train_df['date'].unique()

array(['2015-01-28', '2015-02-28', '2015-03-28', '2015-04-28',
       '2015-05-28', '2015-06-28', '2015-07-28', '2015-08-28',
       '2015-09-28', '2015-10-28', '2015-11-28', '2015-12-28',
       '2016-01-28', '2016-02-28', '2016-03-28', '2016-04-28',
       '2016-05-28'], dtype=object)

In [22]:
train_df['first_holder_date'].unique()

array(['2015-01-12', '2012-08-10', nan, ..., '2016-05-25', '2016-05-01',
       '2016-05-15'], dtype=object)

In [23]:
train_df['primary_last_date'].unique()

array([nan, '2015-07-02', '2015-07-23', '2015-07-06', '2015-07-30',
       '2015-07-20', '2015-07-08', '2015-07-22', '2015-07-17',
       '2015-07-09', '2015-07-03', '2015-07-29', '2015-07-13',
       '2015-07-21', '2015-07-27', '2015-07-14', '2015-07-01',
       '2015-07-24', '2015-07-15', '2015-07-16', '2015-07-28',
       '2015-07-07', '2015-07-10', '2015-08-21', '2015-08-19',
       '2015-08-25', '2015-08-14', '2015-08-24', '2015-08-17',
       '2015-08-18', '2015-08-10', '2015-08-13', '2015-08-27',
       '2015-08-03', '2015-08-06', '2015-08-20', '2015-08-26',
       '2015-08-28', '2015-08-05', '2015-08-11', '2015-08-07',
       '2015-08-04', '2015-08-12', '2015-09-17', '2015-09-01',
       '2015-09-18', '2015-09-03', '2015-09-02', '2015-09-14',
       '2015-09-16', '2015-09-29', '2015-09-28', '2015-09-09',
       '2015-09-22', '2015-09-08', '2015-09-11', '2015-09-21',
       '2015-09-04', '2015-09-25', '2015-09-07', '2015-09-10',
       '2015-09-23', '2015-09-24', '2015-09-15', '2015-10-08',
       '2015-10-07', '2015-10-13', '2015-10-26', '2015-10-29',
       '2015-10-05', '2015-10-28', '2015-10-09', '2015-10-22',
       '2015-10-20', '2015-10-15', '2015-10-06', '2015-10-01',
       '2015-10-21', '2015-10-16', '2015-10-27', '2015-10-19',
       '2015-10-23', '2015-10-02', '2015-10-14', '2015-11-23',
       '2015-11-24', '2015-11-12', '2015-11-04', '2015-11-13',
       '2015-11-25', '2015-11-19', '2015-11-20', '2015-11-03',
       '2015-11-16', '2015-11-17', '2015-11-11', '2015-11-27',
       '2015-11-18', '2015-11-10', '2015-11-26', '2015-11-02',
       '2015-11-05', '2015-11-06', '2015-11-09', '2015-12-21',
       '2015-12-18', '2015-12-28', '2015-12-24', '2015-12-04',
       '2015-12-29', '2015-12-16', '2015-12-11', '2015-12-30',
       '2015-12-15', '2015-12-01', '2015-12-09', '2015-12-10',
       '2015-12-17', '2015-12-02', '2015-12-14', '2015-12-03',
       '2015-12-22', '2015-12-23', '2015-12-07', '2016-01-08',
       '2016-01-14', '2016-01-13', '2016-01-28', '2016-01-05',
       '2016-01-19', '2016-01-12', '2016-01-18', '2016-01-21',
       '2016-01-22', '2016-01-07', '2016-01-20', '2016-01-26',
       '2016-01-15', '2016-01-27', '2016-01-25', '2016-01-11',
       '2016-01-04', '2016-02-23', '2016-02-19', '2016-02-18',
       '2016-02-26', '2016-02-12', '2016-02-24', '2016-02-09',
       '2016-02-08', '2016-02-11', '2016-02-05', '2016-02-04',
       '2016-02-03', '2016-02-15', '2016-02-22', '2016-02-10',
       '2016-02-16', '2016-02-01', '2016-02-17', '2016-02-02',
       '2016-02-25', '2016-03-07', '2016-03-29', '2016-03-10',
       '2016-03-18', '2016-03-14', '2016-03-22', '2016-03-08',
       '2016-03-21', '2016-03-30', '2016-03-01', '2016-03-23',
       '2016-03-02', '2016-03-24', '2016-03-03', '2016-03-09',
       '2016-03-11', '2016-03-04', '2016-03-16', '2016-03-28',
       '2016-03-15', '2016-03-17', '2016-04-22', '2016-04-01',
       '2016-04-06', '2016-04-12', '2016-04-05', '2016-04-15',
       '2016-04-13', '2016-04-19', '2016-04-04', '2016-04-18',
       '2016-04-26', '2016-04-11', '2016-04-25', '2016-04-27',
       '2016-04-08', '2016-04-07', '2016-04-21', '2016-04-28',
       '2016-04-20', '2016-04-14', '2016-05-23', '2016-05-05',
       '2016-05-17', '2016-05-19', '2016-05-12', '2016-05-06',
       '2016-05-03', '2016-05-20', '2016-05-02', '2016-05-16',
       '2016-05-18', '2016-05-04', '2016-05-13', '2016-05-24',
       '2016-05-27', '2016-05-10', '2016-05-30', '2016-05-25',
       '2016-05-11', '2016-05-09', '2016-05-26'], dtype=object)

In [26]:
index_before_conversion= train_df['first_holder_date'].isnull()

In [33]:
train_df['first_holder_date'][index_before_conversion]

261        NaN
1029       NaN
1063       NaN
1154       NaN
1779       NaN
          ...
3775976    NaN
3776175    NaN
3776230    NaN
3776279    NaN
3776332    NaN
Name: first_holder_date, Length: 27734, dtype: object

In [34]:
for col in date_cols:
    #train_df[col].fillna(-99, inplace=True)
    #test_df[col].fillna(-99, inplace=True)
    train_df[col] = pd.to_datetime(train_df['date'], format='%Y-%m-%d')
    test_df[col] = pd.to_datetime(train_df['date'], format='%Y-%m-%d')

In [35]:
train_df['first_holder_date'][index_before_conversion]

261       2015-01-28
1029      2015-01-28
1063      2015-01-28
1154      2015-01-28
1779      2015-01-28
             ...
3775976   2015-06-28
3776175   2015-06-28
3776230   2015-06-28
3776279   2015-06-28
3776332   2015-06-28
Name: first_holder_date, Length: 27734, dtype: datetime64[ns]

In [36]:
train_df['date'].unique()

array(['2015-01-28T00:00:00.000000000', '2015-02-28T00:00:00.000000000',
       '2015-03-28T00:00:00.000000000', '2015-04-28T00:00:00.000000000',
       '2015-05-28T00:00:00.000000000', '2015-06-28T00:00:00.000000000',
       '2015-07-28T00:00:00.000000000', '2015-08-28T00:00:00.000000000',
       '2015-09-28T00:00:00.000000000', '2015-10-28T00:00:00.000000000',
       '2015-11-28T00:00:00.000000000', '2015-12-28T00:00:00.000000000',
       '2016-01-28T00:00:00.000000000', '2016-02-28T00:00:00.000000000',
       '2016-03-28T00:00:00.000000000', '2016-04-28T00:00:00.000000000',
       '2016-05-28T00:00:00.000000000'], dtype='datetime64[ns]')

In [37]:
train_df['first_holder_date'].unique()

array(['2015-01-28T00:00:00.000000000', '2015-02-28T00:00:00.000000000',
       '2015-03-28T00:00:00.000000000', '2015-04-28T00:00:00.000000000',
       '2015-05-28T00:00:00.000000000', '2015-06-28T00:00:00.000000000',
       '2015-07-28T00:00:00.000000000', '2015-08-28T00:00:00.000000000',
       '2015-09-28T00:00:00.000000000', '2015-10-28T00:00:00.000000000',
       '2015-11-28T00:00:00.000000000', '2015-12-28T00:00:00.000000000',
       '2016-01-28T00:00:00.000000000', '2016-02-28T00:00:00.000000000',
       '2016-03-28T00:00:00.000000000', '2016-04-28T00:00:00.000000000',
       '2016-05-28T00:00:00.000000000'], dtype='datetime64[ns]')

In [38]:
train_df['primary_last_date'].unique()

array(['2015-01-28T00:00:00.000000000', '2015-02-28T00:00:00.000000000',
       '2015-03-28T00:00:00.000000000', '2015-04-28T00:00:00.000000000',
       '2015-05-28T00:00:00.000000000', '2015-06-28T00:00:00.000000000',
       '2015-07-28T00:00:00.000000000', '2015-08-28T00:00:00.000000000',
       '2015-09-28T00:00:00.000000000', '2015-10-28T00:00:00.000000000',
       '2015-11-28T00:00:00.000000000', '2015-12-28T00:00:00.000000000',
       '2016-01-28T00:00:00.000000000', '2016-02-28T00:00:00.000000000',
       '2016-03-28T00:00:00.000000000', '2016-04-28T00:00:00.000000000',
       '2016-05-28T00:00:00.000000000'], dtype='datetime64[ns]')

In [39]:
train_df['first_holder_date'].unique()

array(['2015-01-28T00:00:00.000000000', '2015-02-28T00:00:00.000000000',
       '2015-03-28T00:00:00.000000000', '2015-04-28T00:00:00.000000000',
       '2015-05-28T00:00:00.000000000', '2015-06-28T00:00:00.000000000',
       '2015-07-28T00:00:00.000000000', '2015-08-28T00:00:00.000000000',
       '2015-09-28T00:00:00.000000000', '2015-10-28T00:00:00.000000000',
       '2015-11-28T00:00:00.000000000', '2015-12-28T00:00:00.000000000',
       '2016-01-28T00:00:00.000000000', '2016-02-28T00:00:00.000000000',
       '2016-03-28T00:00:00.000000000', '2016-04-28T00:00:00.000000000',
       '2016-05-28T00:00:00.000000000'], dtype='datetime64[ns]')

In [40]:
train_df.dtypes

date                       datetime64[ns]
customer_code                       int64
employee_index                      int64
country                             int64
sex                                 int64
age                                object
first_holder_date          datetime64[ns]
new_customer_index                  int64
customer_seniority                 object
primary_index                       int64
primary_last_date          datetime64[ns]
customer_type                       int64
customer_relation_type              int64
residence_index                     int64
foreigner_index                     int64
spouse_index                        int64
channel                             int64
deceased_index                      int64
addres_type                         int64
province_code                       int64
province_name                       int64
activity_index                      int64
household_gross_income            float64
segmentation                        int64
saving_account                       int8
guarantees                           int8
current_accounts                     int8
derivada_account                     int8
payroll_account                      int8
junior_account                       int8
mas_particular_account               int8
particular_account                   int8
particular_plus_account              int8
short_term_deposit                   int8
medium_term_deposit                  int8
long_term_deposit                    int8
e_account                            int8
funds                                int8
mortgage                             int8
pensions                             int8
loans                                int8
taxes                                int8
credit_card                          int8
securities                           int8
home_account                         int8
payroll                              int8
pensions_2                           int8
direct_debit                         int8
dtype: object

In [41]:
train_df.to_csv("./train_ver2_en.csv", index=False)
test_df.to_csv("./test_ver2_en.csv", index=False)

In [42]:
!pwd

/Users/tamurataito/Documents/santander_dir

In [ ]:
/Users/tamurataito/Documents/santander_dir/train_ver2_en.csv